body,html{
    margin: 0;
    padding: 0;
}

p, span, code, h1{
    font-family: Arial;
}

header{
    position: fixed;
    top: 0;
    z-index: 999;

    width: 100%;
    height: 2.5em;

    background-color: #262626;
    padding: 0.5em;
}

header h1{
    margin: 0;
    color: #999999;
}

section{
    width: 100%;
    -webkit-transform: translateY(+3em);
        -ms-transform: translateY(+3em);
            transform: translateY(+3em);
    overflow-y: hidden;
}

select{
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    padding: 0.5em;
    margin-top: 1em;
}

footer{
    text-align: right;
    padding: 1em;
}

.b1{
    background-color: whitesmoke;
}

.row{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}

.col, .col-delay, .col-code, .col-test{
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;

    height: 25em;

    text-align: center;
    word-wrap: break-word;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.col video, .col > img, .col iframe, .col p, .col span{
    max-width: 90%;
}

.col-hoz{
    overflow-x: auto;
    overflow-y: hidden;

    height: 330px;
    white-space: nowrap;
}

.col-hoz img{
    display: inline-block;
    min-width: 300px;
    min-height: 300px;
}

.col-code{
    height: 27em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.col-code p{
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
}

.col p{
    margin: 3em;
    text-align: center;
}

.col code{
    display: block;
    text-align: center;

    margin-top: 1em;
    padding: 0.5em;
    background-color: #e1e1e1;
    border-radius: 1em;
}

.col video{
    width: 560px;
    height: 315px;
}

.col img, .col video, .col iframe{
    height: 90%;
}

.col-delay img{ height: auto;}

.image-list img{
    width: calc((100% / 5) - 3em);
    margin: 1em;
}

/*CODE*/
.html-block{
    background-color: #202746;
}

.html-attr{
    color: #87cefa;
}

.html-str{
    color: #ff8c00;
}

.html-line{
    color: #2069dc;
    display: block;
}

/* CARD */
.card{
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
    height: 90%;
    width: 300px;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.card img{
    height: 50%;
}

.card-content{
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}

/*TEST*/
.col-test{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-y: auto;

    display: -ms-grid;

    display: grid;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.col-test *{
    margin: 1em;
}

.center{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.update-btn{
    color: white;
    border: none;
    padding: 1em;
    background-color: #202746;
    margin: 1em;
    text-align: center;
}

@media (max-width: 640px) {
    .row{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
  }