/**
* https://github.com/yoannchb-pro/Lazy-attr
* VERSION: 1.0.8
*/

/*CLASSES*/
.slide-bottom-animation, .slide-left-animation, .slide-right-animation, .slide-top-animation, .blur-animation, .corner-top-left-animation,
.corner-top-right-animation, .corner-bottom-left-animation, .corner-bottom-right-animation, .opacity-animation, .zoomin-animation, 
.zoomout-animation{
    opacity: 0;
}

.corner-top-left-animation{
    -webkit-animation: corner-top-left 1s forwards;
            animation: corner-top-left 1s forwards;
}

.corner-top-right-animation{
    -webkit-animation: corner-top-right 1s forwards;
            animation: corner-top-right 1s forwards;
}

.corner-bottom-left-animation{
    -webkit-animation: corner-bottom-left 1s forwards;
            animation: corner-bottom-left 1s forwards;
}

.corner-bottom-right-animation{
    -webkit-animation: corner-bottom-right 1s forwards;
            animation: corner-bottom-right 1s forwards;
}

.blur-animation{
    -webkit-filter: blur(7px);
            filter: blur(7px);
    -webkit-animation: blur 1s forwards;
            animation: blur 1s forwards;
}

.flip-animation, .flip-up-animation{
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.flip-animation{
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    -webkit-animation: flip-left 1s forwards;
            animation: flip-left 1s forwards;
}

.flip-up-animation{
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
    -webkit-animation: flip-up 1s forwards;
            animation: flip-up 1s forwards;
}

.zoomin-animation{
    -webkit-animation: zoomin 1s forwards;
            animation: zoomin 1s forwards;
}

.zoomout-animation{
    -webkit-animation: zoomout 1s forwards;
            animation: zoomout 1s forwards;
}

.rotate-animation{
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-animation: rotate 1s forwards;
            animation: rotate 1s forwards;
}

.opacity-animation{
    -webkit-animation: opacity 1s forwards;
            animation: opacity 1s forwards;
}

.slide-left-animation{
    -webkit-animation: slide-left 1s forwards;
            animation: slide-left 1s forwards;
}

.slide-right-animation{
    -webkit-animation: slide-right 1s forwards;
            animation: slide-right 1s forwards;
}

.slide-top-animation{
    -webkit-animation: slide-top 1s forwards;
            animation: slide-top 1s forwards;
}

.slide-bottom-animation{
    -webkit-animation: slide-bottom 1s forwards;
            animation: slide-bottom 1s forwards;
}

.shake-animation{
    -webkit-animation: shake 1s;
            animation: shake 1s;
}

/*KEYFRAMES*/
@-webkit-keyframes corner-top-left{
    0%{
        -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0) translateY(0);
                transform: translateX(0) translateY(0);
    }
}
@keyframes corner-top-left{
    0%{
        -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0) translateY(0);
                transform: translateX(0) translateY(0);
    }
}

@-webkit-keyframes corner-top-right{
    0%{
        -webkit-transform: translateX(+50%) translateY(-50%);
                transform: translateX(+50%) translateY(-50%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0) translateY(0);
                transform: translateX(0) translateY(0);
    }
}

@keyframes corner-top-right{
    0%{
        -webkit-transform: translateX(+50%) translateY(-50%);
                transform: translateX(+50%) translateY(-50%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0) translateY(0);
                transform: translateX(0) translateY(0);
    }
}

@-webkit-keyframes corner-bottom-left{
    0%{
        -webkit-transform: translateX(-50%) translateY(+50%);
                transform: translateX(-50%) translateY(+50%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0) translateY(0);
                transform: translateX(0) translateY(0);
    }
}

@keyframes corner-bottom-left{
    0%{
        -webkit-transform: translateX(-50%) translateY(+50%);
                transform: translateX(-50%) translateY(+50%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0) translateY(0);
                transform: translateX(0) translateY(0);
    }
}

@-webkit-keyframes corner-bottom-right{
    0%{
        -webkit-transform: translateX(+50%) translateY(+50%);
                transform: translateX(+50%) translateY(+50%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0) translateY(0);
                transform: translateX(0) translateY(0);
    }
}

@keyframes corner-bottom-right{
    0%{
        -webkit-transform: translateX(+50%) translateY(+50%);
                transform: translateX(+50%) translateY(+50%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0) translateY(0);
                transform: translateX(0) translateY(0);
    }
}

@-webkit-keyframes flip-left{
    100%{
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
    }
}

@keyframes flip-left{
    100%{
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
    }
}

@-webkit-keyframes flip-up{
    100%{
        -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
    }
}

@keyframes flip-up{
    100%{
        -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
    }
}

@-webkit-keyframes blur{
    100%{
        opacity: 1;
        -webkit-filter: blur(0px);
                filter: blur(0px);
    }
}

@keyframes blur{
    100%{
        opacity: 1;
        -webkit-filter: blur(0px);
                filter: blur(0px);
    }
}

@-webkit-keyframes slide-left{
    0%{
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@keyframes slide-left{
    0%{
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@-webkit-keyframes slide-right{
    0%{
        -webkit-transform: translateX(+50%);
                transform: translateX(+50%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@keyframes slide-right{
    0%{
        -webkit-transform: translateX(+50%);
                transform: translateX(+50%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@-webkit-keyframes slide-top{
    0%{
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@keyframes slide-top{
    0%{
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@-webkit-keyframes slide-bottom{
    0%{
        -webkit-transform: translateY(+50%);
                transform: translateY(+50%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes slide-bottom{
    0%{
        -webkit-transform: translateY(+50%);
                transform: translateY(+50%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@-webkit-keyframes zoomout{
    0%{
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
    }
    100%{
        opacity: 1;
        -webkit-transform: scale(1.0);
                transform: scale(1.0);
    }
}

@keyframes zoomout{
    0%{
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
    }
    100%{
        opacity: 1;
        -webkit-transform: scale(1.0);
                transform: scale(1.0);
    }
}

@-webkit-keyframes zoomin{
    0%{
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
    }
    100%{
        opacity: 1;
        -webkit-transform: scale(1.0);
                transform: scale(1.0);
    }
}

@keyframes zoomin{
    0%{
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
    }
    100%{
        opacity: 1;
        -webkit-transform: scale(1.0);
                transform: scale(1.0);
    }
}

@-webkit-keyframes rotate{
    100%{
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes rotate{
    100%{
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@-webkit-keyframes opacity{
    100%{
        opacity: 1;
    }
}

@keyframes opacity{
    100%{
        opacity: 1;
    }
}

@-webkit-keyframes shake {
    0% { 
        -webkit-transform: translate(1px, 1px) rotate(0deg); 
                transform: translate(1px, 1px) rotate(0deg);
     }
    10% { 
        -webkit-transform: translate(-1px, -2px) rotate(-1deg); 
                transform: translate(-1px, -2px) rotate(-1deg); 
    }
    20% { 
        -webkit-transform: translate(-3px, 0px) rotate(1deg); 
                transform: translate(-3px, 0px) rotate(1deg);
    }
    30% { 
        -webkit-transform: translate(3px, 2px) rotate(0deg); 
                transform: translate(3px, 2px) rotate(0deg);
    }
    40% { 
        -webkit-transform: translate(1px, -1px) rotate(1deg); 
                transform: translate(1px, -1px) rotate(1deg); 
    }
    50% { 
        -webkit-transform: translate(-1px, 2px) rotate(-1deg); 
                transform: translate(-1px, 2px) rotate(-1deg); 
    }
    60% {
        -webkit-transform: translate(-3px, 1px) rotate(0deg);
                transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        -webkit-transform: translate(3px, 1px) rotate(-1deg);
                transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        -webkit-transform: translate(-1px, -1px) rotate(1deg);
                transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        -webkit-transform: translate(1px, 2px) rotate(0deg);
                transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(1px, -2px) rotate(-1deg);
                transform: translate(1px, -2px) rotate(-1deg);
    }
}

@keyframes shake {
    0% { 
        -webkit-transform: translate(1px, 1px) rotate(0deg); 
                transform: translate(1px, 1px) rotate(0deg);
     }
    10% { 
        -webkit-transform: translate(-1px, -2px) rotate(-1deg); 
                transform: translate(-1px, -2px) rotate(-1deg); 
    }
    20% { 
        -webkit-transform: translate(-3px, 0px) rotate(1deg); 
                transform: translate(-3px, 0px) rotate(1deg);
    }
    30% { 
        -webkit-transform: translate(3px, 2px) rotate(0deg); 
                transform: translate(3px, 2px) rotate(0deg);
    }
    40% { 
        -webkit-transform: translate(1px, -1px) rotate(1deg); 
                transform: translate(1px, -1px) rotate(1deg); 
    }
    50% { 
        -webkit-transform: translate(-1px, 2px) rotate(-1deg); 
                transform: translate(-1px, 2px) rotate(-1deg); 
    }
    60% {
        -webkit-transform: translate(-3px, 1px) rotate(0deg);
                transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        -webkit-transform: translate(3px, 1px) rotate(-1deg);
                transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        -webkit-transform: translate(-1px, -1px) rotate(1deg);
                transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        -webkit-transform: translate(1px, 2px) rotate(0deg);
                transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(1px, -2px) rotate(-1deg);
                transform: translate(1px, -2px) rotate(-1deg);
    }
}