/*CLASSES*/
.zoomin-animation{
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-animation: zoomin 1s forwards;
            animation: zoomin 1s forwards;
}

.zoomout-animation{
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-animation: zoomout 1s forwards;
            animation: zoomout 1s forwards;
}

.rotate-animation{
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-animation: rotate 1s forwards;
            animation: rotate 1s forwards;
}

.opacity-animation{
    opacity: 0;
    -webkit-animation: opacity 1s forwards;
            animation: opacity 1s forwards;
}

.from-left-animation{
    opacity: 0;
    -webkit-animation: from-left 1s forwards;
            animation: from-left 1s forwards;
}

.from-right-animation{
    opacity: 0;
    -webkit-animation: from-right 1s forwards;
            animation: from-right 1s forwards;
}

.from-top-animation{
    opacity: 0;
    -webkit-animation: from-top 1s forwards;
            animation: from-top 1s forwards;
}

.from-bottom-animation{
    opacity: 0;
    -webkit-animation: from-bottom 1s forwards;
            animation: from-bottom 1s forwards;
}

.shake-animation{
    -webkit-animation: shake 1s;
            animation: shake 1s;
}

/*KEYFRAMES*/
@-webkit-keyframes from-left{
    0%{
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}
@keyframes from-left{
    0%{
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@-webkit-keyframes from-right{
    0%{
        -webkit-transform: translateX(+100%);
                transform: translateX(+100%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@keyframes from-right{
    0%{
        -webkit-transform: translateX(+100%);
                transform: translateX(+100%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@-webkit-keyframes from-top{
    0%{
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@keyframes from-top{
    0%{
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@-webkit-keyframes from-bottom{
    0%{
        -webkit-transform: translateY(+100%);
                transform: translateY(+100%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes from-bottom{
    0%{
        -webkit-transform: translateY(+100%);
                transform: translateY(+100%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@-webkit-keyframes zoomout{
    100%{
        -webkit-transform: scale(1.0);
                transform: scale(1.0);
    }
}

@keyframes zoomout{
    100%{
        -webkit-transform: scale(1.0);
                transform: scale(1.0);
    }
}

@-webkit-keyframes zoomin{
    100%{
        -webkit-transform: scale(1.0);
                transform: scale(1.0);
    }
}

@keyframes zoomin{
    100%{
        -webkit-transform: scale(1.0);
                transform: scale(1.0);
    }
}

@-webkit-keyframes rotate{
    100%{
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes rotate{
    100%{
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@-webkit-keyframes opacity{
    100%{
        opacity: 1;
    }
}

@keyframes opacity{
    100%{
        opacity: 1;
    }
}

@-webkit-keyframes shake {
    0% { 
        -webkit-transform: translate(1px, 1px) rotate(0deg); 
                transform: translate(1px, 1px) rotate(0deg);
     }
    10% { 
        -webkit-transform: translate(-1px, -2px) rotate(-1deg); 
                transform: translate(-1px, -2px) rotate(-1deg); 
    }
    20% { 
        -webkit-transform: translate(-3px, 0px) rotate(1deg); 
                transform: translate(-3px, 0px) rotate(1deg);
    }
    30% { 
        -webkit-transform: translate(3px, 2px) rotate(0deg); 
                transform: translate(3px, 2px) rotate(0deg);
    }
    40% { 
        -webkit-transform: translate(1px, -1px) rotate(1deg); 
                transform: translate(1px, -1px) rotate(1deg); 
    }
    50% { 
        -webkit-transform: translate(-1px, 2px) rotate(-1deg); 
                transform: translate(-1px, 2px) rotate(-1deg); 
    }
    60% {
         -webkit-transform: translate(-3px, 1px) rotate(0deg);
                 transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
         -webkit-transform: translate(3px, 1px) rotate(-1deg);
                 transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        -webkit-transform: translate(-1px, -1px) rotate(1deg);
                transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        -webkit-transform: translate(1px, 2px) rotate(0deg);
                transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(1px, -2px) rotate(-1deg);
                transform: translate(1px, -2px) rotate(-1deg);
    }
}

@keyframes shake {
    0% { 
        -webkit-transform: translate(1px, 1px) rotate(0deg); 
                transform: translate(1px, 1px) rotate(0deg);
     }
    10% { 
        -webkit-transform: translate(-1px, -2px) rotate(-1deg); 
                transform: translate(-1px, -2px) rotate(-1deg); 
    }
    20% { 
        -webkit-transform: translate(-3px, 0px) rotate(1deg); 
                transform: translate(-3px, 0px) rotate(1deg);
    }
    30% { 
        -webkit-transform: translate(3px, 2px) rotate(0deg); 
                transform: translate(3px, 2px) rotate(0deg);
    }
    40% { 
        -webkit-transform: translate(1px, -1px) rotate(1deg); 
                transform: translate(1px, -1px) rotate(1deg); 
    }
    50% { 
        -webkit-transform: translate(-1px, 2px) rotate(-1deg); 
                transform: translate(-1px, 2px) rotate(-1deg); 
    }
    60% {
         -webkit-transform: translate(-3px, 1px) rotate(0deg);
                 transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
         -webkit-transform: translate(3px, 1px) rotate(-1deg);
                 transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        -webkit-transform: translate(-1px, -1px) rotate(1deg);
                transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        -webkit-transform: translate(1px, 2px) rotate(0deg);
                transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(1px, -2px) rotate(-1deg);
                transform: translate(1px, -2px) rotate(-1deg);
    }
}