:root{
    --slide-start: 45%;
    --slide-velocity: 8px;

    --scale-velocity: 0.035;
    --scale-start: 0.5;
}

/*SKELETON*/
.lazy-skeleton, .lazy-skeleton-corner, .lazy-skeleton-top{
    position: relative;
    background-color: #adadad;
    overflow: hidden;
}

.lazy-skeleton::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    box-shadow: 0 0 2.5em 2.5em rgba(255,255,255,0.4);
    width: 0;
    height: 100%;
    animation: skeleton 1s linear infinite;
}

.lazy-skeleton-corner::before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    box-shadow: 0 0 2.5em 2.5em rgba(255,255,255,0.4);
    width: 0;
    height: 200%;
    transform: rotate(45deg);
    animation: skeleton-corner 1s linear infinite;
}

.lazy-skeleton-top::before{
    content: '';
    display: block;
    position: absolute;
    box-shadow: 0 0 2.5em 2.5em rgba(255,255,255,0.4);
    width: 100%;
    height: 0;
    animation: skeleton-top 1s linear infinite;
}



/*CLASSES*/
.slide-bottom, .slide-left, .slide-right, .slide-top, .blur, .corner-top-left,
.corner-top-right, .corner-bottom-left, .corner-bottom-right, .opacity, .zoomin, 
.zoomout, .rotate{
    opacity: 0;
}

.corner-top-left{
    animation: corner-top-left 1s forwards;
}

.corner-top-right{
    animation: corner-top-right 1s forwards;
}

.corner-bottom-left{
    animation: corner-bottom-left 1s forwards;
}

.corner-bottom-right{
    animation: corner-bottom-right 1s forwards;
}

.blur{
    filter: blur(7px);
    animation: blur 1s forwards;
}

.flip, .flip-up{
    backface-visibility: hidden;
    transform-style: preserve-3d;
    perspective: 1200px;
}

.flip{
    transform: rotateY(-180deg);
    animation: flip-left 1s forwards;
}

.flip-up{
    transform: rotateX(-180deg);
    animation: flip-up 1s forwards;
}

.zoomin{
    animation: zoomin 1s forwards;
}

.zoomout{
    animation: zoomout 1s forwards;
}

.rotate{
    transform: rotate(0deg);
    animation: rotate 1s forwards;
}

.opacity{
    animation: opacity 1s forwards;
}

.slide-left{
    animation: slide-left 1s forwards;
}

.slide-right{
    animation: slide-right 1s forwards;
}

.slide-top{
    animation: slide-top 1s forwards;
}

.slide-bottom{
    animation: slide-bottom 1s forwards;
}

.shake{
    animation: shake 1s;
}

/*SKELETONS*/
@keyframes skeleton{
    0% {
        left: -10em;
    }
    100%{
        left: calc(100% + 10em);
    }
}

@keyframes skeleton-top{
    0% {
        bottom: calc(100% + 10em);
    }
    100%{
        bottom: -10em;
    }
}

@keyframes skeleton-corner{
    0% {
        bottom: 100%;
        left: -10em;
    }
    100%{
        bottom: -100%;
        left: calc(100% + 10em);
    }
}

/*KEYFRAMES*/
@keyframes corner-top-left{
    0%{
        transform: translateX(-45%) translateY(-45%);
        transform: translateX(calc(var(--slide-start) * -1)) translateY(calc(var(--slide-start) * -1));
    }
    50%{
        transform: translateX(8px) translateY(8px);
        transform: translateX(var(--slide-velocity)) translateY(var(--slide-velocity));
    }
    100%{
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
}

@keyframes corner-top-right{
    0%{
        transform: translateX(45%) translateY(-45%);
        transform: translateX(var(--slide-start)) translateY(calc(var(--slide-start) * -1));
    }
    50%{
        transform: translateX(-8px) translateY(8px);
        transform: translateX(calc(var(--slide-velocity) * -1)) translateY(var(--slide-velocity));
    }
    100%{
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
}

@keyframes corner-bottom-left{
    0%{
        transform: translateX(-45%) translateY(45%);
        transform: translateX(calc(var(--slide-start) * -1)) translateY(var(--slide-start));
    }
    50%{
        transform: translateX(8px) translateY(-8px);
        transform: translateX(var(--slide-velocity)) translateY(calc(var(--slide-velocity) * -1));
    }
    100%{
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
}

@keyframes corner-bottom-right{
    0%{
        transform: translateX(45%) translateY(45%);
        transform: translateX(var(--slide-start)) translateY(var(--slide-start));
    }
    50%{
        transform: translateX(-8px) translateY(-8px);
        transform: translateX(calc(var(--slide-velocity) * -1)) translateY(calc(var(--slide-velocity) * -1));
    }
    100%{
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
}

@keyframes flip-left{
    100%{
        transform: perspective(2500px) rotateY(0deg);
    }
}

@keyframes flip-up{
    100%{
        transform: perspective(2500px) rotateX(0deg);
    }
}

@keyframes blur{
    100%{
        opacity: 1;
        filter: blur(0px);
    }
}

@keyframes slide-left{
    0%{
        transform: translateX(-45%);
        transform: translateX(calc(var(--slide-start) * -1));
    }
    50%{
        transform: translateX(8px);
        transform: translateX(var(--slide-velocity));
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-right{
    0%{
        transform: translateX(45%);
        transform: translateX(var(--slide-start));
    }
    50%{
        transform: translateX(-8px);
        transform: translateX(calc(var(--slide-velocity) * -1));
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-top{
    0%{
        transform: translateY(-45%);
        transform: translateY(calc(var(--slide-start) * -1));
    }
    50%{
        transform: translateY(8px);
        transform: translateY(var(--slide-velocity));
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-bottom{
    0%{
        transform: translateY(45%);
        transform: translateY(var(--slide-start));
    }
    50%{
        transform: translateY(-8px);
        transform: translateY(calc(var(--slide-velocity) * -1));
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomout{
    0%{
        transform: scale(1.5);
        transform: scale(calc(1 + var(--scale-start)));
    }
    50%{
        transform: scale(calc(1 - 0.035));
        transform: scale(calc(1 - var(--scale-velocity)));
    }
    100%{
        opacity: 1;
        transform: scale(1.0);
    }
}

@keyframes zoomin{
    0%{
        transform: scale(0.5);
        transform: scale(calc(1 - var(--scale-start)));
    }
    50%{
        transform: scale(calc(1 + 0.035));
        transform: scale(calc(1 + var(--scale-velocity)));
    }
    100%{
        opacity: 1;
        transform: scale(1.0);
    }
}

@keyframes rotate{
    100%{
        opacity: 1;
        transform: rotate(360deg);
    }
}

@keyframes opacity{
    100%{
        opacity: 1;
    }
}

@keyframes shake {
    0% { 
        transform: translate(1px, 1px) rotate(0deg);
     }
    10% { 
        transform: translate(-1px, -2px) rotate(-1deg); 
    }
    20% { 
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% { 
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% { 
        transform: translate(1px, -1px) rotate(1deg); 
    }
    50% { 
        transform: translate(-1px, 2px) rotate(-1deg); 
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}