/**
* https://github.com/yoannchb-pro/Lazy-attr
* VERSION: 1.1.9
*/

/*SKELETON*/
.lazy-skeleton, .lazy-skeleton-corner, .lazy-skeleton-top{
    position: relative;
    background-color: rgba(0,0,0,0.15);
    overflow: hidden;
}

.lazy-skeleton::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    box-shadow: 0 0 2.5em 2.5em rgba(255,255,255,0.4);
    width: 0;
    height: 100%;
    animation: skeleton-animation 1s linear infinite;
}

.lazy-skeleton-corner::before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    box-shadow: 0 0 2.5em 2.5em rgba(255,255,255,0.4);
    width: 0;
    height: 200%;
    transform: rotate(45deg);
    animation: skeleton-animation-corner 1s linear infinite;
}

.lazy-skeleton-top::before{
    content: '';
    display: block;
    position: absolute;
    box-shadow: 0 0 2.5em 2.5em rgba(255,255,255,0.4);
    width: 100%;
    height: 0;
    animation: skeleton-animation-top 1s linear infinite;
}

@keyframes skeleton-animation{
    0% {
        left: -10em;
    }
    100%{
        left: calc(100% + 10em);
    }
}

@keyframes skeleton-animation-top{
    0% {
        bottom: calc(100% + 10em);
    }
    100%{
        bottom: -10em;
    }
}

@keyframes skeleton-animation-corner{
    0% {
        bottom: 100%;
        left: -10em;
    }
    100%{
        bottom: -100%;
        left: calc(100% + 10em);
    }
}

/*CLASSES*/
.slide-bottom-animation, .slide-left-animation, .slide-right-animation, .slide-top-animation, .blur-animation, .corner-top-left-animation,
.corner-top-right-animation, .corner-bottom-left-animation, .corner-bottom-right-animation, .opacity-animation, .zoomin-animation, 
.zoomout-animation, .rotate-animation{
    opacity: 0;
}

.corner-top-left-animation{
    animation: corner-top-left 1s forwards;
}

.corner-top-right-animation{
    animation: corner-top-right 1s forwards;
}

.corner-bottom-left-animation{
    animation: corner-bottom-left 1s forwards;
}

.corner-bottom-right-animation{
    animation: corner-bottom-right 1s forwards;
}

.blur-animation{
    filter: blur(7px);
    animation: blur 1s forwards;
}

.flip-animation, .flip-up-animation{
    backface-visibility: hidden;
    transform-style: preserve-3d;
    perspective: 1200px;
}

.flip-animation{
    transform: rotateY(-180deg);
    animation: flip-left 1s forwards;
}

.flip-up-animation{
    transform: rotateX(-180deg);
    animation: flip-up 1s forwards;
}

.zoomin-animation{
    animation: zoomin 1s forwards;
}

.zoomout-animation{
    animation: zoomout 1s forwards;
}

.rotate-animation{
    transform: rotate(0deg);
    animation: rotate 1s forwards;
}

.opacity-animation{
    animation: opacity 1s forwards;
}

.slide-left-animation{
    animation: slide-left 1s forwards;
}

.slide-right-animation{
    animation: slide-right 1s forwards;
}

.slide-top-animation{
    animation: slide-top 1s forwards;
}

.slide-bottom-animation{
    animation: slide-bottom 1s forwards;
}

.shake-animation{
    animation: shake 1s;
}

/*KEYFRAMES*/
@keyframes corner-top-left{
    0%{
        transform: translateX(-50%) translateY(-50%);
    }
    50%{
        transform: translateX(30px) translateY(30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
}

@keyframes corner-top-right{
    0%{
        transform: translateX(+50%) translateY(-50%);
    }
    50%{
        transform: translateX(-30px) translateY(30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
}

@keyframes corner-bottom-left{
    0%{
        transform: translateX(-50%) translateY(+50%);
    }
    50%{
        transform: translateX(30px) translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
}

@keyframes corner-bottom-right{
    0%{
        transform: translateX(+50%) translateY(+50%);
    }
    50%{
        transform: translateX(-30px) translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
}

@keyframes flip-left{
    100%{
        transform: perspective(2500px) rotateY(0deg);
    }
}

@keyframes flip-up{
    100%{
        transform: perspective(2500px) rotateX(0deg);
    }
}

@keyframes blur{
    100%{
        opacity: 1;
        filter: blur(0px);
    }
}

@keyframes slide-left{
    0%{
        transform: translateX(-50%);
    }
    50%{
        transform: translateX(30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-right{
    0%{
        transform: translateX(+50%);
    }
    50%{
        transform: translateX(-30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-top{
    0%{
        transform: translateY(-50%);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-bottom{
    0%{
        transform: translateY(+50%);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomout{
    0%{
        transform: scale(1.5);
    }
    50%{
        transform: scale(0.85);
    }
    100%{
        opacity: 1;
        transform: scale(1.0);
    }
}

@keyframes zoomin{
    0%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(1.15);
    }
    100%{
        opacity: 1;
        transform: scale(1.0);
    }
}

@keyframes rotate{
    100%{
        opacity: 1;
        transform: rotate(360deg);
    }
}

@keyframes opacity{
    100%{
        opacity: 1;
    }
}

@keyframes shake {
    0% { 
        transform: translate(1px, 1px) rotate(0deg);
     }
    10% { 
        transform: translate(-1px, -2px) rotate(-1deg); 
    }
    20% { 
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% { 
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% { 
        transform: translate(1px, -1px) rotate(1deg); 
    }
    50% { 
        transform: translate(-1px, 2px) rotate(-1deg); 
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}